.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    font-weight: 600;
    color: #9c67bf;
}

.explore-menu-text{
    max-width: 60%;
    columns: #808080;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.top-restaurants-title {

    text-align: left;
    margin-left: 5%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;  /* Adds space between Navbar and Heading */
    margin-bottom: 30px;
    color: #d6cedf;
}